# Edit "/etc/systemd/system/ollama.service"
# Once you’ve made your changes, reload the daemons using the command
# sudo systemctl daemon-reload ,
# and then restart the service with
# sudo systemctl restart ollama.
# or
# OLLAMA_HOST=0.0.0.0:11434 ollama serve
# or
# systemctl edit ollama.service

[Service]
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="OLLAMA_HOST=0.0.0.0:11434"
Environment="OLLAMA_MAX_LOADED_MODELS=5"
Environment="OLLAMA_NUM_PARALLEL=5"
Environment="OLLAMA_FLASH_ATTENTION=1"
